/*
#F1F8FD#F6C667#007CB9#005689
*/
/******** BASE STYLES *******/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F1F8FD;
  color: #F6C667;
  font-size: 2em;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

p {
  color: #007CB9;
  margin: 1.5% auto; }

/******* MAIN STYLES *******/
.comp-move-color {
  color: #005689; }

#choose-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#grid {
  margin-top: 5%;
  cursor: pointer;
  background-color: #005689; }

.cell {
  font-size: 2.5em;
  width: 100px;
  height: 100px;
  background-color: #909191;
  border: 1px solid #F1F8FD;
  display: flex;
  justify-content: center;
  align-items: center; }

.sym-o,
.sym-x {
  display: none; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.highlight-test {
  background-color: skyblue; }

.game-result {
  display: none;
  text-align: center;
  color: #F6C667;
  font-size: 2em;
  position: absolute;
  top: 5%; }

/******* PSEUDO STYLES *******/
/******* MEDIA QUERIES *******/
